body {
    font-family: 'Montserrat', sans-serif;
    background-color: #221a00;
    width: 60%;
    margin: 0 auto;
}

h1, h2 {
    color: #332700;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h3 {
    color: #332700;
}

a {
    color: #332700;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #dda700;
    background-color: #332700;
    border-radius: 10px;
    padding: 5px 10px;
}

.hlavicka, 
.paticka {
    color: #332700;
    background-color: #dda700;
    padding: 25px;
    text-align: center;
    margin: 35px 0;
}

.hlavicka, 
.paticka,
.main {
    border-radius: 20px;
}

.hlavicka h2 {
    color: #332700;
}

.hlavicka p {
    font-weight: 700;
}

.img {
    text-align: center;
    padding-top: 40px;
}

img {
    border-radius: 50%;
    padding: 25px;
    text-align: center;
}

.main {
    margin: 0 auto;
    color: #332700;
    background-color: #dda700;
    padding: 25px;
}

.main h2 {
    color: #dda700;
    background-color: #332700;
    text-align: center;
    line-height: 2;
    border-radius: 10px;
}

.main h3 {
    margin-top: 25px;
    margin-bottom: 0px;
}

main p {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 25px;
}

.sekce {
    margin-bottom: 45px;
}

.paticka {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}